src/main/mule/embus-pac-catalogos-globales.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d5d873d3-983c-4250-9a37-70f08c69f16a" basePath="/api/" >
		<http:listener-connection host="0.0.0.0" port="8081" readTimeout="6000" />
	</http:listener-config>
	<flow name="embus-pac-catalogos-globalesFlow" doc:id="cdbd234f-6103-4bbf-9794-1317cc15b222" >
		<http:listener doc:name="Listener" doc:id="28d13823-4a33-470b-ba42-81a33acabbc1" config-ref="HTTP_Listener_config" path="/catalogos" outputMimeType="application/json"/>
		<set-payload value='#[%dw 2.0&#10;output application/json &#10;---&#10;{&#10;	"code":0,&#10;	"description":"CDMX"&#10;}]' doc:name="Set Payload" doc:id="728245aa-aa0e-4bc5-beca-ab3dee032af6" />
	</flow>
</mule>
